@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;700&display=swap");
header,
main > div:not(.presentation),
footer {
  padding-left: 100px;
  padding-right: 100px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

h1,
h2 {
  font-family: "Pacifico", sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  top: 0;
  background-color: #14213d;
  color: #fca311;
  border-bottom: 2px solid #ffffff;
  position: sticky;
}
header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 6px #fca311;
  vertical-align: middle;
  margin-right: 20px;
}
header a {
  color: #fca311;
  text-decoration: none;
  text-transform: uppercase;
  text-underline-position: under;
}
header a:last-child {
  margin-left: 70px;
}
header a:hover {
  text-decoration: underline;
}
header a.active {
  text-decoration: underline;
}

footer {
  background-color: #14213d;
  color: #fca311;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .social-network {
  margin: 20px 0;
}
footer .social-network a img {
  width: 60px;
  height: 60px;
}
footer .social-network a:not(:last-child) {
  margin-right: 20px;
}

.home {
  margin-top: 50px;
}
.home .bienvenue h1 {
  text-align: center;
}
.home .bienvenue_presentation {
  height: 250px;
  background-color: #e5e5e5;
  border-radius: 125px 20px 20px 125px;
  display: flex;
  align-items: center;
  margin: 40px auto 70px;
}
.home .bienvenue_presentation_img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.home .bienvenue_presentation_text {
  margin: 20px;
}
.home .bienvenue_presentation_text_link {
  color: #0f3ca4;
  text-decoration: none;
}
.home .bienvenue_presentation_text_link:hover {
  text-decoration: underline;
}
.home .techno {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fca311;
  background-color: #14213d;
}
.home .techno h2 {
  margin-bottom: 30px;
}
.home .techno_img:not(:last-child) {
  margin-right: 40px;
}
.home .projects {
  background-color: #fca311;
  padding-top: 20px;
  padding-bottom: 60px;
}
.home .projects h2 {
  margin-bottom: 50px;
}
.home .projects h3 {
  font-weight: 400;
}
.home .projects > div:not(:last-child) {
  margin-bottom: 30px;
}
.home .projects_separator {
  width: 50%;
  height: 3px;
  background-color: #000000;
  margin: auto;
}
.home .projects_card {
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.home .projects_card:nth-child(4) {
  flex-direction: row-reverse;
}
.home .projects_card_img {
  width: 50%;
}
.home .projects_card_img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}
.home .projects_card_description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .projects_card_description_text {
  text-align: justify;
}
.home .projects_card_description_buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .projects_card_description_buttons a {
  display: inline-block;
  background-color: #14213d;
  color: #fca311;
  text-decoration: none;
  width: 48%;
  min-width: 207px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 200ms;
}
.home .projects_card_description_buttons a:hover {
  background-color: #0f3ca4;
}

/*# sourceMappingURL=style.css.map */
