.contact {
  &__section {
    text-align: center;
    background-color: $secondary-color;
    padding: 50px 0 45px 0;
  }
  &__social-network {
    img {
      height: 60px;
      width: 60px;
    }
  }
}
