.home {
  margin-top: 50px;
  .bienvenue {
    h1 {
      text-align: center;
    }
    &__presentation {
      padding: 0.1px;
      z-index: 0;
      background-color: $secondary-color;
      border-radius: 125px 20px 20px 20px;
      margin: 40px auto 70px;
      line-height: 1.4;
      h2 {
        text-align: center;
        margin-top: 20px;
      }
      img {
        float: left;
        margin: 0 20px 20px 0;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        shape-outside: margin-box;
      }
      &__text {
        margin: 20px;
      }
      p:last-child {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  .techno {
    padding-top: 20px;
    padding-bottom: 40px;
    color: $tertiary-color;
    background-color: $quaternary-color;
    h2 {
      margin-bottom: 30px;
    }
    &_img {
      height: 110px;
      width: 110px;
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:nth-of-type(1),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        border-radius: 50%;
      }
    }
  }
  .projects {
    background-color: $tertiary-color;
    padding-top: 20px;
    padding-bottom: 60px;
    h2 {
      margin-bottom: 50px;
    }
    h3 {
      font-weight: 400;
    }
    > div:not(:last-child) {
      margin-bottom: 30px;
    }
    &_separator {
      width: 50%;
      height: 3px;
      background-color: $fifth-color;
      margin: auto;
    }
    &_card {
      height: 400px;
      display: flex;
      justify-content: space-between;
      &:nth-child(4) {
        flex-direction: row-reverse;
      }
      &_img {
        width: 50%;
        img {
          border-radius: 20px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top left;
        }
      }
      &_description {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_text {
          text-align: justify;
        }
        &_buttons {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          a {
            display: inline-block;
            background-color: $quaternary-color;
            color: $tertiary-color;
            text-decoration: none;
            width: 48%;
            min-width: 207px;
            text-align: center;
            padding: 10px 15px;
            border-radius: 10px;
            transition: 200ms;
            &:hover {
              background-color: $link-color;
            }
          }
        }
      }
    }
  }
}
