header {
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  top: 0;
  background-color: $quaternary-color;
  color: $tertiary-color;
  border-bottom: 2px solid $tertiary-color;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 6px $tertiary-color;
    vertical-align: middle;
    margin-right: 20px;
  }
  a {
    color: $tertiary-color;
    text-decoration: none;
    text-transform: uppercase;
    text-underline-position: under;
    &:last-child {
      margin-left: 70px;
    }
    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
}
